<div class='container'>
  <div class='row main'>

        <div class='col-lg-8 offset-lg-1 hidden-sm-down title-box'>

          <div class='row'>
            <div class='col-md-10 offset-md-2 text-sm-center logo_box'>
              <% image_tag '/TESTE12345.png', class: 'img-fluid'%>
            </div>
          </div>

          <div class='row'>
            <h2 class='subtitle'>Converta facilmente suas Moedas para qualquer moeda no Mundo!</h2>
          </div>
        </div>

    <div class='col-lg-3 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      
 
      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>
 
    
  </div>
</div>
